ion-title {
    font-family: 'Roboto', sans-serif; /* Cambia la fuente del título */
    font-weight: bold; /* Hace que el título sea más audaz */
    font-size: 25px;
    color: #45BBFF;
    margin: 0;
    text-align: center;
}