<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Teacher Evaluation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="position: relative;">
    <!-- Imagen -->
    <img src="https://img.freepik.com/vector-premium/dibujo-dibujos-animados-maestro_29937-8192.jpg" alt="" style="width: 100%; height: auto;">
  </div>
  <!-- Iteración sobre las preguntas -->
  <ion-list>
    <ion-item *ngFor="let question of questions">
      <!-- Contenedor con texto -->
      <div class="container-texto">
        <p>{{question.question}}</p>
      </div>

      <!-- Selector de 1 a 5 -->
      <ion-select slot="end" [(ngModel)]="question.rating" cancelText="Cancel" okText="Accept">
        <ion-select-option value="1">Totally Disagree</ion-select-option>
        <ion-select-option value="2">Disagree</ion-select-option>
        <ion-select-option value="3">Neither Agree nor Disagree</ion-select-option>
        <ion-select-option value="4">Agree</ion-select-option>
        <ion-select-option value="5">Totally Agree</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- Botón Enviar -->
  <ion-button class="btnEnviar" expand="block" (click)="submitEvaluation()">Enviar</ion-button>
</ion-content>
